---
import { Icon } from "astro-icon/components";
---

<header
  class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 h-32 flex items-center justify-center shadow-lg my-4 md:w-auto md:mx-0 mx-4"
>
  <h2
    class="flex gap-2 text-4xl font-extrabold text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
  >
    <Icon name="noto:shopping-cart" />
    Folletos Carrefour
  </h2>
</header>
